@import "../variables.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    // position: static;

    .menu-logo {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .logo {
            @media only screen and (max-width: 700px) {
                display: none;
            }
        }
        .hamberger-menu {
            width: fit-content;
            border: none;
            padding: 0;
            background: none;
            display: none;
            @media only screen and (max-width: 700px) {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            .menu--icon {
                width: 33px;
                height: 2.5px;
                background-color: $black--light;
                transition: all 0.2s ease;
            }
        }
    }

    .menu-nav {
        @media only screen and (max-width: 701px) {
            display: none;
        }
    }
}
