@import "../variables.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .menu-logo {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .menu--icon {
            width: 25px;
            height: 1px;
            background-color: $black--normal;
            // active for mobile
            visibility: hidden;
        }
    }
}
