@import "../variables.scss";

header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        .menu-logo {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .logo {
                @media only screen and (max-width: 700px) {
                    display: none;
                }
            }
            .hamberger-menu {
                width: fit-content;
                border: none;
                padding: 0;
                background: none;
                display: none;
                cursor: none;
                @media only screen and (max-width: 700px) {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
                .menu--icon {
                    width: 33px;
                    height: 2.5px;
                    background-color: $black--light;
                    transition: all 0.2s ease;
                }
            }
        }

        .menu-nav {
            @media only screen and (max-width: 701px) {
                display: none;
            }
        }
        @media only screen and (max-width: 701px) {
            position: fixed;
            left: 0;
            right: 0;
            box-shadow:
                rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
    }
}
