@import "../componentStyle//style.scss";
@import "../variables.scss";

.mobile-navbar-hidden {
    position: absolute;
    left: -30%;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 0;
}
.mobile-navbar {
    background-color: $gray--dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1.3vw + 15px);
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 1;
    .mobile-nav-head {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .close-mobile-nav {
            width: fit-content;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .line {
                width: 33px;
                height: 2.5px;
                background-color: $black--light;
                transition: all 0.2s ease;
            }
            .btn-top-line {
                transform: rotate(45deg) translate(13px, 0px);
            }
            .btn-bottom-line {
                transform: rotate(-45deg) translate(7px, 5px);
            }
        }
    }

    .mobile-list-items {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: calc(1.3vw + 10px);
        padding: 0;
        margin: 0;
    }
    .list--item {
        a {
            white-space: nowrap;
            text-decoration: none;
        }
    }
    .active {
        color: $orange--normal;
    }
}
