@import "@/style/variables.scss";

body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-track {
    background: $gray--dark--hover;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: $white--darker;
    border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: $white--darker $gray--dark--hover;
    }
}
