@import "../variables.scss";

// btn style:-----------------------
// --------text button--------
.primary--text-btn {
    border: none;
    color: $white--light;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to bottom right, $orange--normal 0, $orange--normal--hover 100%);
    padding: 12px 40px;
    cursor: pointer;
    @media only screen and (max-width: 700px) {
        font-size: 12px;
        padding: 10px 30px;
    }
}

.secondary--text-btn {
    border: none;
    color: $white--normal--active;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background: $bg--opacity;
    padding: 12px 40px;
    cursor: pointer;
    @media only screen and (max-width: 700px) {
        font-size: 12px;
        padding: 10px 30px;
    }
}

.outline-primary--text-btn {
    border: 1px solid $white--dark--hover;
    color: $white--dark--hover;
    background: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 40px;
    cursor: pointer;
    @media only screen and (max-width: 700px) {
        font-size: 12px;
        padding: 10px 30px;
    }
}

// ---text icon button ---
.primary--textIcon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    color: $white--light;
    background: linear-gradient(to bottom right, $orange--normal 0, $orange--normal--hover 100%);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    @media only screen and (max-width: 700px) {
        font-size: 12px;
        padding: 10px 16px;
    }
    img {
        width: 24px;
        @media only screen and (max-width: 700px) {
            width: 16px;
        }
    }
}
.secondary--textIcon-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $white--dark--hover;
    background: none;
    cursor: pointer;
    border: none;
    width: fit-content;
    border-bottom: 1px solid $white--dark--hover;
    transition: all 0.2s;

    &:hover {
        border-bottom: 1px solid $white--dark;
        color: $white--dark;
        gap: calc(10px + 5px);
    }
    span {
        font-size: 16px;
        font-weight: bold;
        @media only screen and (max-width: 700px) {
            font-size: 14px;
        }
    }
    img {
        width: 16px;
    }
}
.secondary-simple--textIcon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px 0;
    color: $white--dark--hover;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    transition: all 0.2s;

    &:hover {
        border-bottom: 1px solid $white--dark;
        color: $white--dark;
        gap: calc(10px + 5px);
    }
    img {
        @media only screen and (max-width: 700px) {
            width: 16px;
        }
    }
    @media only screen and (max-width: 700px) {
        font-size: 14px;
    }
}
.icon-btn {
    border: 1px solid $white--darker;
    border-radius: 50px;
    background-color: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px;
    button {
        height: fit-content;
        border: none;
        background-color: transparent;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .icon-btn-image {
            width: 16px;
            height: 16px;
        }
    }
}
// -------------------btn style.

// texts style:---------------------------------
.primary--text {
    color: $white--dark--hover;
    font-size: calc(0.6vw + 10px);
    letter-spacing: 0.1rem;
    line-break: loose;
    line-height: 1.5rem;
}

.title--text {
    font-size: calc(1vw + 28px);
    color: $white--light;
    font-weight: bold;
    margin: 10px;
}
// --------------texts style.

// main image component style---------------------
.main-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 700px;
    .max-cercle-bg {
        width: 500px;
        height: 500px;
        background-color: $bg--opacity;
        position: relative;
        bottom: -30px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
    }
    .min-cercle-bg {
        width: 500px;
        height: 500px;
        background-color: $bg--opacity;
        position: relative;
        bottom: -30px;
        border-radius: 100% 100% 0 0;
        display: flex;
        justify-content: center;
    }
    .hero-img {
        // height: 700px;
        width: 610px;
        position: absolute;
        bottom: 0;
        border-radius: 48%;
        filter: grayscale(0.5);
    }
}
// ---------------------main image component style:

// container style:-----------------
.row-primary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 60px;
}
.col-primary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.landin-section {
    margin: 30px 0 30px 0;
}

// logo:---------
.logo {
    font-size: 1.9rem;
    background: $gradient;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}
// -----logo.

// navigation:------
nav {
    .list-items {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        padding: 0;
        .list--item {
            text-decoration: none;
            a {
                white-space: nowrap;
                text-decoration: none;
            }
        }
        .active {
            color: $orange--normal;
        }
    }
}
// ----------navigation.
