@import "../variables.scss";
@import "../componentStyle/label.scss";
@import "./hero/hero.scss";
@import "./serviceSec/serviceSec.scss";
@import "./aboutMeSec/aboutMeSec.scss";
@import "./portfolioSec/portfolioSec.scss";

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
