@font-face {
    font-family: "primary-lato";
    src: url("../../public/font/Lato-Regular.ttf");
}
@font-face {
    font-family: "secondary-lato";
    src: url("../../public/font/Lato-Italic.ttf");
}
