a {
  cursor: none;
}

.container {
  width: 86%;
  margin: 0 auto;
}
@media only screen and (min-width: 550px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media only screen and (min-width: 1580px) {
  .container {
    width: 1458px;
  }
}

@media (hover: hover) and (pointer: fine) {
  /* Your mouse-specific styles here */
  .cursor-dot {
    width: 5px;
    height: 5px;
    background-color: #575757;
  }
  .cursor-outlione {
    width: 30px;
    height: 30px;
    border: 2px solid #bababa;
  }
  .cursor-dot,
  .cursor-outlione {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  /* Your touch-specific styles here */
  .cursor-dot,
  .cursor-outlione {
    display: none;
  }
}
.secondary--text-btn {
  border: none;
  color: #c6c6c6;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.04);
  padding: 12px 40px;
  cursor: none;
}
@media only screen and (max-width: 700px) {
  .secondary--text-btn {
    font-size: 12px;
    padding: 10px 30px;
  }
}

.primary--text-btn {
  border: none;
  color: #fefefe;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to bottom right, #fd6f00 0, #e46400 100%);
  padding: 12px 40px;
  cursor: none;
}
@media only screen and (max-width: 700px) {
  .primary--text-btn {
    font-size: 12px;
    padding: 10px 30px;
  }
}

.outline-primary--text-btn {
  border: 1px solid #959595;
  color: #959595;
  background: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 40px;
  cursor: none;
}
@media only screen and (max-width: 700px) {
  .outline-primary--text-btn {
    font-size: 12px;
    padding: 10px 30px;
  }
}

.primary--textIcon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  color: #fefefe;
  background: linear-gradient(to bottom right, #fd6f00 0, #e46400 100%);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  cursor: none;
}
@media only screen and (max-width: 700px) {
  .primary--textIcon-btn {
    font-size: 12px;
    padding: 10px 16px;
  }
}
.primary--textIcon-btn img {
  width: 24px;
}
@media only screen and (max-width: 700px) {
  .primary--textIcon-btn img {
    width: 16px;
  }
}

.secondary--textIcon-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #959595;
  background: none;
  border: none;
  width: fit-content;
  border-bottom: 1px solid #959595;
  transition: all 0.2s;
  cursor: none;
}
.secondary--textIcon-btn:hover {
  border-bottom: 1px solid #bababa;
  color: #bababa;
  gap: 15px;
}
.secondary--textIcon-btn span {
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (max-width: 700px) {
  .secondary--textIcon-btn span {
    font-size: 14px;
  }
}
.secondary--textIcon-btn img {
  width: 16px;
}

.secondary-simple--textIcon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
  color: #959595;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  transition: all 0.2s;
  cursor: none;
}
.secondary-simple--textIcon-btn:hover {
  border-bottom: 1px solid #bababa;
  color: #bababa;
  gap: 15px;
}
@media only screen and (max-width: 700px) {
  .secondary-simple--textIcon-btn img {
    width: 16px;
  }
}
@media only screen and (max-width: 700px) {
  .secondary-simple--textIcon-btn {
    font-size: 14px;
  }
}

.icon-btn {
  border: 1px solid #575757;
  border-radius: 50px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px;
}
.icon-btn button {
  height: fit-content;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}
.icon-btn button .icon-btn-image {
  width: 16px;
  height: 16px;
}

.primary--text {
  color: #959595;
  font-size: calc(0.6vw + 10px);
  letter-spacing: 0.1rem;
  line-break: loose;
  line-height: calc(2vw + 8px);
}

.title--text {
  font-size: calc(1vw + 28px);
  color: #fefefe;
  font-weight: bold;
  margin: 10px;
}

.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 700px;
}
@media only screen and (max-width: 700px) {
  .main-image {
    height: 500px;
  }
}
.main-image .max-cercle-bg {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.04);
  position: relative;
  bottom: -30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .main-image .max-cercle-bg {
    height: 400px;
    width: 400px;
  }
}
.main-image .min-cercle-bg {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.04);
  position: relative;
  bottom: -30px;
  border-radius: 100% 100% 0 0;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .main-image .min-cercle-bg {
    height: 400px;
    width: 400px;
  }
}
.main-image .hero-img {
  width: 610px;
  position: absolute;
  bottom: 0;
  border-radius: 48%;
  filter: grayscale(0.5);
}
@media only screen and (max-width: 700px) {
  .main-image .hero-img {
    width: 550px;
  }
}

.row-primary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.col-primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landin-section {
  margin: 30px 0 30px 0;
}

.logo {
  font-size: 1.9rem;
  background: linear-gradient(to right, #fd6f00 0, #e46400 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

nav .list-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}
nav .list-items .list--item {
  text-decoration: none;
}
nav .list-items .list--item a {
  white-space: nowrap;
  text-decoration: none;
}
nav .list-items .active {
  color: #fd6f00;
  font-size: calc(0.6vw + 10px);
  letter-spacing: 0.1rem;
}

a {
  cursor: none;
}

.container {
  width: 86%;
  margin: 0 auto;
}
@media only screen and (min-width: 550px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media only screen and (min-width: 1580px) {
  .container {
    width: 1458px;
  }
}

@media (hover: hover) and (pointer: fine) {
  /* Your mouse-specific styles here */
  .cursor-dot {
    width: 5px;
    height: 5px;
    background-color: #575757;
  }
  .cursor-outlione {
    width: 30px;
    height: 30px;
    border: 2px solid #bababa;
  }
  .cursor-dot,
  .cursor-outlione {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  /* Your touch-specific styles here */
  .cursor-dot,
  .cursor-outlione {
    display: none;
  }
}
.secondary--text-btn {
  border: none;
  color: #c6c6c6;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.04);
  padding: 12px 40px;
  cursor: none;
}
@media only screen and (max-width: 700px) {
  .secondary--text-btn {
    font-size: 12px;
    padding: 10px 30px;
  }
}

.primary--text-btn {
  border: none;
  color: #fefefe;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to bottom right, #fd6f00 0, #e46400 100%);
  padding: 12px 40px;
  cursor: none;
}
@media only screen and (max-width: 700px) {
  .primary--text-btn {
    font-size: 12px;
    padding: 10px 30px;
  }
}

.outline-primary--text-btn {
  border: 1px solid #959595;
  color: #959595;
  background: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 40px;
  cursor: none;
}
@media only screen and (max-width: 700px) {
  .outline-primary--text-btn {
    font-size: 12px;
    padding: 10px 30px;
  }
}

.primary--textIcon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  color: #fefefe;
  background: linear-gradient(to bottom right, #fd6f00 0, #e46400 100%);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  cursor: none;
}
@media only screen and (max-width: 700px) {
  .primary--textIcon-btn {
    font-size: 12px;
    padding: 10px 16px;
  }
}
.primary--textIcon-btn img {
  width: 24px;
}
@media only screen and (max-width: 700px) {
  .primary--textIcon-btn img {
    width: 16px;
  }
}

.secondary--textIcon-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #959595;
  background: none;
  border: none;
  width: fit-content;
  border-bottom: 1px solid #959595;
  transition: all 0.2s;
  cursor: none;
}
.secondary--textIcon-btn:hover {
  border-bottom: 1px solid #bababa;
  color: #bababa;
  gap: 15px;
}
.secondary--textIcon-btn span {
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (max-width: 700px) {
  .secondary--textIcon-btn span {
    font-size: 14px;
  }
}
.secondary--textIcon-btn img {
  width: 16px;
}

.secondary-simple--textIcon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
  color: #959595;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  transition: all 0.2s;
  cursor: none;
}
.secondary-simple--textIcon-btn:hover {
  border-bottom: 1px solid #bababa;
  color: #bababa;
  gap: 15px;
}
@media only screen and (max-width: 700px) {
  .secondary-simple--textIcon-btn img {
    width: 16px;
  }
}
@media only screen and (max-width: 700px) {
  .secondary-simple--textIcon-btn {
    font-size: 14px;
  }
}

.icon-btn {
  border: 1px solid #575757;
  border-radius: 50px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px;
}
.icon-btn button {
  height: fit-content;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}
.icon-btn button .icon-btn-image {
  width: 16px;
  height: 16px;
}

.primary--text {
  color: #959595;
  font-size: calc(0.6vw + 10px);
  letter-spacing: 0.1rem;
  line-break: loose;
  line-height: calc(2vw + 8px);
}

.title--text {
  font-size: calc(1vw + 28px);
  color: #fefefe;
  font-weight: bold;
  margin: 10px;
}

.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 700px;
}
@media only screen and (max-width: 700px) {
  .main-image {
    height: 500px;
  }
}
.main-image .max-cercle-bg {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.04);
  position: relative;
  bottom: -30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .main-image .max-cercle-bg {
    height: 400px;
    width: 400px;
  }
}
.main-image .min-cercle-bg {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.04);
  position: relative;
  bottom: -30px;
  border-radius: 100% 100% 0 0;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .main-image .min-cercle-bg {
    height: 400px;
    width: 400px;
  }
}
.main-image .hero-img {
  width: 610px;
  position: absolute;
  bottom: 0;
  border-radius: 48%;
  filter: grayscale(0.5);
}
@media only screen and (max-width: 700px) {
  .main-image .hero-img {
    width: 550px;
  }
}

.row-primary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.col-primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landin-section {
  margin: 30px 0 30px 0;
}

.logo {
  font-size: 1.9rem;
  background: linear-gradient(to right, #fd6f00 0, #e46400 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

nav .list-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}
nav .list-items .list--item {
  text-decoration: none;
}
nav .list-items .list--item a {
  white-space: nowrap;
  text-decoration: none;
}
nav .list-items .active {
  color: #fd6f00;
  font-size: calc(0.6vw + 10px);
  letter-spacing: 0.1rem;
}

.mobile-navbar {
  background-color: #171717;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(1.3vw + 15px);
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  transition: all 1s ease-in-out;
}
@media only screen and (max-width: 700px) {
  .mobile-navbar {
    display: flex;
  }
}
.mobile-navbar .mobile-nav-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.mobile-navbar .mobile-nav-head .close-mobile-nav {
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mobile-navbar .mobile-nav-head .close-mobile-nav .line {
  width: 33px;
  height: 2.5px;
  background-color: #e6e6e6;
  transition: all 0.2s ease;
}
.mobile-navbar .mobile-nav-head .close-mobile-nav .btn-top-line {
  transform: rotate(45deg) translate(13px, 0px);
}
.mobile-navbar .mobile-nav-head .close-mobile-nav .btn-bottom-line {
  transform: rotate(-45deg) translate(7px, 5px);
}
.mobile-navbar .mobile-list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(1.3vw + 10px);
  padding: 0;
  margin: 0;
}
.mobile-navbar .list--item a {
  white-space: nowrap;
  text-decoration: none;
}
.mobile-navbar .active {
  color: #fd6f00;
}

.navbar-show {
  left: 0;
  transition: all 1s ease-in-out;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #575757 #121212;
  }
}
.app {
  background-color: #121212;
  font-family: "lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  /* Custom CSS for dark theme */
}
.app header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.app header .container .menu-logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media only screen and (max-width: 700px) {
  .app header .container .menu-logo .logo {
    display: none;
  }
}
.app header .container .menu-logo .hamberger-menu {
  width: fit-content;
  border: none;
  padding: 0;
  background: none;
  display: none;
  cursor: none;
}
@media only screen and (max-width: 700px) {
  .app header .container .menu-logo .hamberger-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
.app header .container .menu-logo .hamberger-menu .menu--icon {
  width: 33px;
  height: 2.5px;
  background-color: #e6e6e6;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 701px) {
  .app header .container .menu-nav {
    display: none;
  }
}
.app .lable-item {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1012px) {
  .app .hero-section .container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.app .hero-section .container .hero-item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media only screen and (max-width: 1012px) {
  .app .hero-section .container .hero-item {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.app .hero-section .container .hero-item .interview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
@media only screen and (max-width: 1012px) {
  .app .hero-section .container .hero-item .interview {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.app .hero-section .container .hero-item .interview .hero-interview .hero-name {
  font-size: 2rem;
  color: #959595;
}
.app .hero-section .container .hero-item .interview .hero-skill {
  font-size: 4.67rem;
  font-size: calc(2vw + 40px);
  background: linear-gradient(to right, #fd6f00 0, #e46400 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media only screen and (max-width: 1012px) {
  .app .hero-section .container .hero-item .interview .hero-skill {
    text-align: center;
  }
}
.app .hero-section .container .hero-item .interview .hero-media {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media only screen and (max-width: 1012px) {
  .app .hero-section .container .hero-item .interview .hero-media {
    justify-content: center;
  }
}
.app .hero-section .container .hero-item .hero-action {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.app .hero-section .container .hero-item .hero-experience {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: max-content;
  gap: 16px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.04);
}
@media only screen and (max-width: 460px) {
  .app .hero-section .container .hero-item .hero-experience {
    flex-direction: column;
  }
}
.app .hero-section .container .hero-item .hero-experience .Experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding: 10px;
}
.app .hero-section .container .hero-item .hero-experience .Experiences:not(:last-child) {
  border-right: 1px solid #959595;
}
@media only screen and (max-width: 460px) {
  .app .hero-section .container .hero-item .hero-experience .Experiences:not(:last-child) {
    border: none;
    border-bottom: 1px solid #959595;
    padding: 10px 5px;
  }
}
.app .hero-section .container .hero-item .hero-experience .Experiences .Experiences-num {
  color: #fd6f00;
  font-size: calc(1vw + 10px);
}
@media only screen and (max-width: 460px) {
  .app .hero-section .container .hero-item .hero-experience .Experiences .Experiences-num {
    text-align: center;
  }
}
.app .hero-section .container .hero-item .hero-experience .Experiences .Experiences-text {
  color: #dfdfdf;
  font-size: calc(0.8vw + 10px);
}
@media only screen and (max-width: 460px) {
  .app .hero-section .container .hero-item .hero-experience .Experiences .Experiences-text {
    text-align: center;
  }
}
.app .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  max-height: 500px;
  gap: 24px;
  padding: 30px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.04);
}
@media screen and (min-width: 800px) {
  .app .service-card {
    width: 25.33%;
  }
}
.app .service-card .service-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.app .service-card .service-head .head-img {
  width: 40px;
  height: 40px;
}
.app .service-card .service-head .head-title {
  font-size: calc(1vw + 16px);
  font-weight: bold;
  color: #fd6f00;
}
.app .service-card .service-body {
  width: 100%;
  text-align: center;
}
.app .service-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}
.app .scroller {
  padding-block: 1rem;
}
.app .scroller .scroller-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}
.app .scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.app .scroller[data-animated=true] .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2.5vw));
  }
}
.app .scroller[data-animated=true] .scroller-inner:hover {
  animation-play-state: paused;
}
.app .skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.app .skillCard .progress {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#fd6f00 60%, #e46400 100%);
  border-radius: 100%;
}
.app .skillCard .progress .progress-bar {
  width: 93%;
  height: 93%;
  background-color: #121212;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .skillCard .progress .progress-bar .skill-icon {
  width: 50%;
}
.app .skillCard .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .skillCard .skill .progress-range {
  font-size: calc(1vw + 10px);
  font-weight: bold;
  background: linear-gradient(to right, #fd6f00 0, #e46400 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.app .about-me-sec {
  width: 100%;
}
.app .about-me-sec .container .about-me-item {
  gap: 30px;
}
@media only screen and (max-width: 1012px) {
  .app .about-me-sec .container .about-me-item .about-me-sec-item {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 0;
  }
}
.app .about-me-sec .container .about-me-item .about-me-sec-item .introduction-item {
  gap: 30px;
}
@media only screen and (max-width: 1012px) {
  .app .about-me-sec .container .about-me-item .about-me-sec-item .introduction-item {
    display: flex;
    align-items: center;
  }
}
.app .portfolio-Card {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em;
  width: 100%;
  height: 330px;
  max-height: 500px;
  gap: 24px;
  padding: 0;
  border-radius: 28px 28px 16px 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}
@media screen and (min-width: 800px) {
  .app .portfolio-Card {
    width: 30.33%;
    height: 370px;
  }
}
.app .portfolio-Card .portfolio-Card-image {
  width: 100%;
  height: 100%;
  position: absolute;
}
.app .portfolio-Card .portfolio-body {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: -webkit-fill-available;
  padding: 16px;
  z-index: 1;
  transform: translateY(75%);
  transition: all 0.3s;
}
@media only screen and (min-width: 320px) and (max-width: 686px) {
  .app .portfolio-Card .portfolio-body {
    transform: translateY(68%);
  }
}
@media only screen and (min-width: 687px) and (max-width: 700px) {
  .app .portfolio-Card .portfolio-body {
    transform: translateY(55%);
  }
}
@media only screen and (min-width: 701px) and (max-width: 800px) {
  .app .portfolio-Card .portfolio-body {
    transform: translateY(65%);
  }
}
.app .portfolio-Card .portfolio-body .portfolio-body-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .portfolio-Card .portfolio-body .portfolio-body-label .portfolio-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app .portfolio-Card .portfolio-body .portfolio-body-label .portfolio-name:hover {
  transition: all 0.2s;
  color: #bababa;
  text-decoration: none;
}
.app .portfolio-Card .portfolio-body .portfolio-body-label .portfolio-category {
  color: #707070;
}
.app .portfolio-Card .portfolio-body .portfolio-body-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app .portfolio-Card .portfolio-body .portfolio-body-description,
.app .portfolio-Card .portfolio-body a:not(.portfolio-body-label > a) {
  visibility: hidden;
  opacity: 0;
}
.app .portfolio-Card:hover .portfolio-body-description,
.app .portfolio-Card:hover a:not(.portfolio-body-label > a) {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}
.app .portfolio-Card:hover .portfolio-body {
  transform: translateY(0);
}
.app .portfolio-Card:hover .portfolio-name {
  text-decoration: underline;
}
.app .portfolio-Card--active {
  display: flex;
}
.app .portfolio-sec .portfolio-label .category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 700px) {
  .app .portfolio-sec .portfolio-label .category {
    gap: 10px;
  }
}
.app .portfolio-sec .prtfolio-card-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.app .portfolio-sec .more-div {
  margin: 3.3vw 0 3.3vw 0;
  text-align: center;
}
.app .swal2-popup {
  background-color: #1e1e1e !important;
  color: #e9e9e9 !important;
  font-family: "lato";
}
.app .swal2-title {
  color: #e9e9e9 !important;
}
.app .swal2-html-container {
  color: #f8f8f8 !important;
}
.app .swal2-actions .swal2-confirm {
  background-color: #707070 !important;
  border-color: #575757 !important;
}
.app .swal2-actions .swal2-cancel {
  background-color: #575757 !important;
  border-color: #575757 !important;
}
.app .cantact-me-sec {
  width: 100%;
}
.app .cantact-me-sec #contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.3rem;
  gap: 10px;
  margin: 0 auto;
}
.app .cantact-me-sec #contact-form .inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 10px;
  gap: 10px;
  width: 100%;
}
.app .cantact-me-sec #contact-form .inputs .input-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.app .cantact-me-sec #contact-form .inputs .input-item .input-tag {
  outline: none;
  padding: 0.6rem 0.9rem;
  border: none;
  border-radius: 0.2rem;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.04);
  color: #959595;
  font-size: calc(0.4vw + 10px);
}
.app .cantact-me-sec #contact-form .inputs .input-item textarea.input-tag {
  resize: none;
  height: 100px;
  font-family: "lato";
  font-size: calc(0.4vw + 10px);
}
.app .cantact-me-sec #contact-form .inputs .input-item input::-webkit-outer-spin-button,
.app .cantact-me-sec #contact-form .inputs .input-item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.app .cantact-me-sec #contact-form .inputs .input-item .error {
  border: 1px solid rgb(168, 0, 0);
}
.app .cantact-me-sec #contact-form .inputs .input-item .error-message {
  color: rgb(168, 0, 0);
  font-size: calc(8px + 0.4vw);
}
@media screen and (min-width: 800px) {
  .app .cantact-me-sec #contact-form .inputs {
    grid-template-columns: 1fr 1fr;
  }
}
.app main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.app footer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.04);
}
.app footer .footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.app footer .contact-footer {
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .app footer .contact-footer {
    gap: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
