@import "./variables.scss";
@import "./serviceCard.scss";

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    .hero-item {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .interview {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            .hero-interview {
                .hero-name {
                    font-size: 2rem;
                    color: $white--dark--hover;
                }
            }
            .hero-skill {
                font-size: 4.67rem;
                background: linear-gradient(to right, $orange--normal 0, $orange--normal--hover 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
            .hero-media {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
        .hero-action {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 20px;
        }
        .hero-experience {
            display: flex;
            align-items: center;
            width: max-content;
            gap: 16px;
            padding: 8px 16px;
            background-color: rgba(255, 255, 255, 0.04);
            .Experiences {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 4px;
                padding: 5px 10px;
                &:not(:last-child) {
                    border-right: 1px solid $white--dark--hover;
                }
                .Experiences-num {
                    color: $orange--normal;
                }
                .Experiences-text {
                    color: $white--normal--hover;
                }
            }
        }
    }

    .service-items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    .about-me-sec {
        .introduction-item {
            gap: 30px;
        }
        .skills {
            overflow-x: hidden;
        }
    }

    .portfolio-sec {
        .portfolio-label {
            .category {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }
        .prtfolio-card-sec {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            .portfolio-Card {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.5em;
                width: 100%;
                gap: 24px;
                padding: 0;
                background-color: $bg--opacity;
                border-radius: 28px 28px 16px 16px;
                overflow: hidden;
                @media screen and (min-width: 600px) {
                    width: 50%;
                }
                @media screen and (min-width: 800px) {
                    width: 30.33%;
                }
                .portfolio-head {
                    width: 100%;
                    height: 350px;

                    @media screen and (min-width: 600px) {
                        height: 370px;
                    }
                    @media screen and (min-width: 800px) {
                        height: 400px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .portfolio-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 16px;
                    padding: 16px;
                    .portfolio-body-label {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .portfolio-name:hover {
                            transition: all 0.2s;
                            color: $white--dark;
                        }
                        .portfolio-category {
                            color: $white--dark--active;
                        }
                    }
                }
            }
        }
    }
}
