@import "./variables.scss";

// btn style:-----------------------
.primary--text-btn {
    border: none;
    color: $white--light;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to bottom right, $orange--normal 0, $orange--normal--hover 100%);
    border: none;
    padding: 12px 40px;
    cursor: pointer;
}

.primary--textIcon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    color: $white--light;
    background: linear-gradient(to bottom right, $orange--normal 0, $orange--normal--hover 100%);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}
.icon-btn {
    border: 1px solid $white--darker;
    border-radius: 50px;
    background-color: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px;
    button {
        height: fit-content;
        border: none;
        background-color: transparent;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-btn-image {
            width: 16px;
            height: 16px;
        }
    }
}
// -------------------btn style.

// texts style:---------------------------------
.primary--text {
    color: $white--dark--hover;
    font-size: 0.93rem;
}

.title--text {
    font-size: 2.4rem;
    color: $white--light;
    font-weight: bold;
    margin: 10px;
}
// --------------texts style.

// main image component style---------------------
.main-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 700px;
    .max-cercle-bg {
        width: 500px;
        height: 500px;
        background-color: $bg--opacity;
        position: relative;
        bottom: -30px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
    }
    .min-cercle-bg {
        width: 500px;
        height: 500px;
        background-color: $bg--opacity;
        position: relative;
        bottom: -30px;
        border-radius: 100% 100% 0 0;
        display: flex;
        justify-content: center;
    }
    .hero-img {
        height: 700px;
        width: 550px;
        position: absolute;
        bottom: 0;
        border-radius: 48%;
    }
}
// ---------------------main image component style:

// container style:-----------------
.row-primary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.col-primary-container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    width: 100%;
}
