@import "./variables.scss";

.primary--text-btn {
    border: none;
    color: $white--light;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to bottom right, $orange--normal 0, $orange--normal--hover 100%);
    border: none;
    padding: 12px 40px;
    cursor: pointer;
}

.primary--textIcon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
}

.primary--text {
    color: $white--dark--hover;
    font-size: 0.93rem;
}

.title--text {
    font-size: 2.4rem;
    color: $white--light;
    font-weight: bold;
    margin: 10px;
}

.icon-btn {
    border: 1px solid $white--darker;
    border-radius: 50px;
    background-color: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px;
    button {
        height: fit-content;
        border: none;
        background-color: transparent;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-btn-image {
            width: 16px;
            height: 16px;
        }
    }
}
