// color variables
// ------ORANGE-----
$orange--light: #fff1e6;
$orange--light--hover: #ffe9d9;
$orange--light--active: #fed2b0;

$orange--normal: #fd6f00;
$orange--normal--hover: #e46400;
$orange--normal--active: #ca5900;

$orange--dark: #be5300;
$orange--dark--hover: #984300;
$orange--dark--active: #723200;

$orange--darker: #592700;
