// color variables
// ------ORANGE-----
$orange--light: #fff1e6;
$orange--light--hover: #ffe9d9;
$orange--light--active: #fed2b0;

$orange--normal: #fd6f00;
$orange--normal--hover: #e46400;
$orange--normal--active: #ca5900;

$orange--dark: #be5300;
$orange--dark--hover: #984300;
$orange--dark--active: #723200;

$orange--darker: #592700;

// ------BLACK------
$black--light: #e6e6e6;
$black--light--hover: #d9d9d9;
$black--light--active: #b0b0b0;

$black--normal: #000000;
$black--normal--hover: #000000;
$black--normal--active: #000000;

$black--dark: #000000;
$black--dark--hover: #000000;
$black--dark--active: #000000;

$black--darker: #000000;

// -----WHITE------
$white--light: #fefefe;
$white--light--hover: #fefefe;
$white--light--active: #fdfdfd;

$white--normal: #f8f8f8;
$white--normal--hover: #dfdfdf;
$white--normal--active: #c6c6c6;

$white--dark: #bababa;
$white--dark--hover: #959595;
$white--dark--active: #707070;
$white--darker: #575757;
