@import "./skillCard.scss";
@import "./slider.scss";

.about-me-sec {
    .about-me-item {
        gap: 30px;
        .about-me-sec-item {
            @media only screen and (max-width: 1012px) {
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                gap: 0;
            }
            .introduction-item {
                gap: 30px;
                @media only screen and (max-width: 1012px) {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
