@import "./skillCard.scss";

.about-me-sec {
    .about-me-item {
        gap: 30px;
        .about-me-sec-item {
            @media only screen and (max-width: 1012px) {
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                gap: 0;
            }
            .introduction-item {
                gap: 30px;
                @media only screen and (max-width: 1012px) {
                    display: flex;
                    align-items: center;
                }
            }
        }
        .skills-sliedr {
            overflow: hidden;

            .skills {
                gap: 2rem;
                animation: 10s slide infinite linear;
                @keyframes slide {
                    0% {
                        transform: translateX(3%);
                    }
                    100% {
                        transform: translateX(-100%);
                    }
                }
                &:hover {
                    animation-play-state: paused;
                }
            }
        }
    }
}
