.skills-sliedr {
    overflow: hidden;

    .skills {
        gap: 2rem;
        animation: 10s slide infinite linear;
        @keyframes slide {
            0% {
                transform: translateX(3%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
        &:hover {
            animation-play-state: paused;
        }
    }
}
